p{
    color: rgb(124, 7, 7);
}
h1{
    background-color: blueviolet;
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
}
h3{
    background-color: chartreuse;
}
img{
    border: 15px  solid rgb(96, 226, 243);
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;

}
body{
    background-color: rgb(13, 170, 233);
}